<!DOCTYPE html>
<html lang="en">
    <%- include partials/header %>
    <header>
        <%- include partials/main_nav %>
    </header>
    <body>
          <div class="col-md-12 mx-2 my-2 ">
    <div class="col-md-12 text-center" style="padding-top:2rem;">
        <h1 >Welcome to the <%= title%> Page</h1>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5 text-center">
            <h1 class="homeh1" style="padding-bottom:2rem;">Hey, My name is Arpit Kamal</h1>
				<a href="/files/Arpit's_Resume.pdf" download="Resume_Arpit" >
					<button type="button " class="btn text-light btn-lg bg-dark";">Download My Resume
					<i class="fa fa-download" download></i>
					</button>
				</a>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5 text-center">
            <h1 class="homeh1" style="padding-bottom:2rem;"></h1>
				<a href="/about"  >
					<button type="button " class="btn text-light btn-lg bg-dark";">About Me
					</button>
				</a>
        </div>
        </div>
    </div>

    </body>
    <footer class="footer mt-auto py-2 fixed-bottom" style="background-color:rgb(52,58,64)">
        <%- include partials/footer%>
    </footer>

</html>






