<!DOCTYPE html>
<html lang="en">
	<%- include partials/header%>
    <header>
        <%- include partials/main_nav %>
    </header>

	<body> 
	
    <div class="col-md-12 text-center" style="padding-top:2rem;">
        <h1 >Welcome to the  <%= title%> Page</h1>
    </div>
	<div class="container-fluid padding">
	<div class="row padding">
		<div class="row align-items-center">
			<div class="col-md-4">
			<img class="card-img-top" src="/images/cat_vs_dog.jpeg" alt="">
			</div>
			<div class="col-md-8 align-item-center" style="padding-top: 4rem">
				<h4 class="card-title">Cat vs Dog using Transfer Learning</h4>
					<p class="card-text">Classifying Cats or Dogs with the help of <b>Transfer Learning.</b></p>
					<p>I have learned that with the help of transfer learning, rather than training     model from scratch which needs lots of data and time to
                     train, instead, download an <b>open-source model</b> that someone else has already trained on a huge dataset and use those parameters as a
                     starting point to then train your model which is quicker way to be able to reach <b>higher levels of accuracy.</b></p>
					 <p>Training data Accuracy: <b>92%</b>, Validation data Accuracy: <b>95%</b></p>
					<a href="https://github.com/Arpitkamal/Convolutional-Neural-Networks-in-TensorFlow/blob/master/Week%203/Transfer_Learning.ipynb" class="btn btn-outline-secondary">Github link</a>
			</div>
		</div>
	</div>
		<div class="row align-items-center" style="padding-top:4rem">
			<div class="col-md-4">
			<img class="card-img-top" src="/images/horse_vs_human.jpg" alt="">
			</div>
			<div class="col-md-8">
				<h4 class="card-title">Horse vs Human with Augmentation</h4>
					<p class="card-text">Predicting whether the image contains a human or horse image using <b>Convolutional neural network.</b></p>
					<p>I have learned that data augmentation is a widely used tool in deep learning to   <b> increase the dataset size </b>by being able to rotate the
                      image and being able to skew the image which takes place in memory as they're being loaded into the neural network for training
                      without overriding the data.</p>
					<p>Training data Accuracy: <b>86%</b>, Validation data Accuracy: <b>73%</b></p> 
					<a href="https://github.com/Arpitkamal/Horse-or-human-with-agumentation/blob/master/Horse_vs_human_with_agumentation.ipynb" class="btn btn-outline-secondary">Github link</a>
			</div>
		</div>
		</div>
		<div class="row align-items-center "style="padding-top:4rem; padding-bottom:4rem;">
			<div class="col-md-4">
			<img class="card-img-top" src="/images/rock.jpg" alt="">
			</div>
			<div class="col-md-8">
				<h4 class="card-title">Rock Paper Scissors</h4>
					<p class="card-text">Build a multi-class classifier to recognize Rock Paper Scissors containing images from a variety of different hands.</p>
					<p>After learning the concept of a multi-class classifier. I have implemented this   concept on <b> Rock Paper Scissors dataset </b> which contains
                     2,892 images of diverse hands in Rock/Paper/Scissors poses using Convolutional Neural Networks in TensorFlow.</p>
					<p>Training data Accuracy: <b>76%</b>, Validation data Accuracy: <b>76%.</b></p>
					<a href="https://github.com/Arpitkamal/Convolutional-Neural-Networks-in-TensorFlow/blob/master/Week%204/rock_paper_scissors.ipynb" class="btn btn-outline-secondary">Github link</a>
			</div>
		</div>
	</div>
</div>
	
</body>
<footer class="footer mt-auto py-2 fixed-bottom" style="background-color:rgb(52,58,64)">
        <%- include partials/footer%>
    </footer>
</html>



